html.nova-dark-theme {
    background-color: #06090f !important;
}

.nova-dark-theme {
    html {
        background-color: #0d1117 !important;
        height: auto !important;
    }

    body {
        background-color: #06090f !important;
        height: auto !important;
    }

    .hamburger-menu:before {
        background: linear-gradient(
            to bottom,
            white,
            white 20%,
            black 20%,
            black 40%,
            white 40%,
            white 60%,
            black 60%,
            black 80%,
            white 80%,
            white 100%
        );
    }

    .dark-mode-toggle {
        background-color: #0e1217;
    }

    .bg-white,
    #layout-selector .components-container {
        background-color: #0d1117;
    }

    .component-layout-selector {
        border-color: #30383d;
        background-color: #161c22;
    }

    .flex {
        .border-60 {
            border-color: #30383d;
        }
        .bg-white {
            background-color: #161b22;
        }
    }

    a,
    .link,
    a .text-secondary {
        color: #5c7aff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        .link:visited {
            color: #8d69f7;
        }
    }

    .w-sidebar * {
        color: #c9d1d9 !important;

        &:hover {
            color: #ff113b !important;
            opacity: 1;
        }
    }

    .multiselect__option--highlight,
    .multiselect__option--highlight::after {
        background-color: #ff113b;
        background: #ff113b;
    }

    .bg-logo {
        background-color: #161b22;
        color: #ff113b !important;
    }

    .markdown {
        // background-color: #ffff !important;
    }

    .text-primary,
    .cursor-pointer:hover {
        color: #ff113b !important;

        &:visited {
            color: inherit !important;
        }
    }
    .btn-primary {
        color: #ffff !important;

        a:visited {
            color: #ffff;
        }
    }

    .bg-grad-sidebar {
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#0d1117),
            to(#0d1117)
        );
        background-color: #0d1117;
    }

    .table td {
        color: #eeeeee;
        border-color: #30363d;
    }

    .table th {
        background-color: #0d1117;
        color: #eeeeee;
        border-color: #30363d;
    }

    .flex.items-center.relative.shadow.h-header.bg-white.z-20.px-view {
        background-color: #0f1217;
    }

    .bg-20,
    .card,
    .btn-white,
    .multiselect__spinner {
        background-color: #161b22;
    }

    .bg-30 {
        background-color: #161b22;

        &:hover {
            background-color: #060910;
        }
    }

    .bg-40,
    .table tr:hover td,
    .tooltip,
    .multiselect__content-wrapper {
        background-color: #0d1117;
    }

    .border-30 {
        border-color: #30363d;
    }

    .border-30,
    .border-40,
    .border-50 {
        border-color: #30373d;
    }

    .border-60,
    .border-70 {
        border-color: #0e1217;
    }

    .border-80 {
        border-color: #060910;
    }

    .text-60,
    .text-70 {
        color: #626a71;
    }

    .text-80,
    .text-90 {
        color: #cfd3d8;
    }

    .relationship-tabs-panel .tab {
        color: #cfd3d8;
        &:hover {
            color: #ff113b;
        }
    }

    .btn-outline {
        color: #ff113b;
    }

    .tooltip,
    .multiselect__content-wrapper {
        border-color: #161b22;
        color: #cfd3d8;
    }

    .form-input:focus,
    .form-global-search:active,
    .form-global-search:focus,
    .form-search:active,
    .form-search:focus {
        background-color: #060910;
    }

    // .form-select, .tabs-wrap {
    //     background-color: #0e1217;
    //     border-color: #161b22;
    // }

    .form-input-bordered,
    .multiselect__input,
    .multiselect__tags,
    .multiselect__single,
    .form-select,
    .tags-input-text,
    .multiselect,
    .form-input-row {
        background-color: #0e1217;
        color: #cfd3d8;
        border-color: #2e3235;
    }

    .multiselect__tags {
        border-color: #2e3235 !important;
    }

    .form-global-search,
    input {
        border-color: #535c67;
        background-color: #161b22;
        color: #cfd3d8;
    }

    .form-input-bordered,
    .multiselect__content-wrapper,
    .multiselect__tags {
        border-color: #2e3235;
    }

    .checkbox:checked {
        background-color: #ff133b;
    }

    select {
        color: #cfd3d8;
    }

    .bg-gray-800 {
        --bg-opacity: 1;
        background-color: #0d1117;
        background-color: rgba(45, 55, 72, var(--bg-opacity));
    }
    .bg-gray-900 {
        --bg-opacity: 1;
        background-color: #06090f;
        background-color: rgba(26, 32, 44, var(--bg-opacity));
    }
    .border-gray-700 {
        --border-opacity: 1;
        border-color: #30363d;
        border-color: rgba(74, 85, 104, var(--border-opacity));
    }
    .text-white {
        --text-opacity: 1;
        color: #c9d1d9;
        color: rgba(255, 255, 255, var(--text-opacity));
    }
    .text-gray-400 {
        --text-opacity: 1;
        color: #88929c;
        color: rgba(203, 213, 224, var(--text-opacity));
    }

    button.appearance-none.cursor-pointer.fill-current.hover\:text-primary.flex.px-4.items-center.focus\:outline-none {
        color: #cfd3d8b3;
    }

    .gallery .gallery-item .gallery-item-info {
        --bg-opacity: 0;
        background-color: #0e1217;
        background-color: rgba(14, 18, 23, var(--bg-opacity));
    }

    .bg-gray-100,
    .gallery .gallery-item {
        --bg-opacity: 1;
        background-color: #0e1217;
        background-color: rgba(14, 18, 23, var(--bg-opacity));
    }

    button.text-left.w-full.leading-normal.dim.my-2 {
        color: #cfd3d8;
    }
}
