html.nova-dark-theme {
    background: #06090f !important;
    height: auto !important;
}

:root {
        --white: #0d1117;
        --bg-20: #a0aec0;
        --bg-40: #88929c;
        --bg-60: #cfd3d8;
        REMOVE--20: #354256;
        REMOVE--30: #252f3d;
        REMOVE--40: #424e62;;
        REMOVE--50: #3d4d62;
        REMOVE--60: #4a5568;
        REMOVE--70: #eeeeee;
        REMOVE--80: #d8d8d8;
        REMOVE--90: #cbd5e0;
    }

.nova-dark-theme {
    .btn-primary {
        color: #c9d1d9;
    }

    .form-global-search,  input {
        border-color: #4a5568;
        background: #0d1117;
    }


    body {
        background: #06090f !important;
        // filter: invert(100%) contrast(90%) hue-rotate(180deg);
        height: auto !important;
    }

    .bg-gray-800 {
        --bg-opacity: 1;
        background-color: #0d1117;
        background-color: rgba(45, 55, 72, var(--bg-opacity));
    }
    .bg-gray-900 {
        --bg-opacity: 1;
        background-color: #06090f;
        background-color: rgba(26, 32, 44, var(--bg-opacity));
    }
    .border-gray-700 {
        --border-opacity: 1;
        border-color: #30363d;
        border-color: rgba(74, 85, 104, var(--border-opacity));
    }
    .text-white {
        --text-opacity: 1;
        color: #c9d1d9;
        color: rgba(255, 255, 255, var(--text-opacity));
    }
    .text-gray-400 {
        --text-opacity: 1;
        color: #88929c;
        color: rgba(203, 213, 224, var(--text-opacity));
    }

    .flex.items-center.relative.shadow.h-header.bg-white.z-20.px-view {
        background: #161b22;
    }
    .bg-logo {
       background: #161b22;
    }
    .w-sidebar * {
        color: #c9d1d9 !important;
    }
    .bg-grad-sidebar {  background: #0d1117; }

    .text-90 {
        color: #cfd3d8;
    }

    .border-50 {
        border-color: #4a5568;
    }
}

html.nova-dark-theme {
    background: #06090f !important;
}
