
:root {
    --white: #0d1117;
    --50: #3d4d62;
    --60: #4a5568;
    --20: #354256;
    --30: #0d1117;
    --40: #2d3748;
    --70: #eeeeee;
    --90: #88929c;
    --80: #d8d8d8;
}

html {
    background: #0d1117 !important;
    filter: invert(100%) contrast(90%) hue-rotate(180deg);
    height: auto !important;
}

img {
    filter: invert(100%) hue-rotate(180deg);
}

.bg-logo {
    background-image: linear-gradient(0deg, #eeeeee 0%, #fff 100%);
}

.w-sidebar * {
    color: #0d1117 !important;
}

/* .bg-grad-sidebar {
    background-image: linear-gradient(0deg, #f0f0f0 0%, #fdfdfd 100%);
} */

.bg-grad-sidebar {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#0d1117),
    to(#0d1117)
  );
}

