:root {
  --primary: rgb(255, 18, 59, 1);
  --primary-dark: rgb(209, 0, 105, 1);
  --primary-70: rgba(255, 18, 59, 0.7);
  --primary-50: rgba(255, 18, 59, 0.5);
  --primary-30: rgba(255, 18, 59, 0.3);
  --primary-10: rgba(255, 18, 59, 0.1);
  --logo: #ff123b;
  --sidebar-icon: #fff;
}

.bg-grad-sidebar {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(255, 18, 59, 1)),
    to(#3c4655)
  );

  background-image: linear-gradient(
    0deg,
    rgb(255, 18, 59, 1),
    rgb(254, 77, 107)
  );
}

@media (max-width: 992px) {
    html:not([dir="rtl"]) .h-header .dropdown-trigger img.mr-3 {
        margin-right: 2em;
    }
    html([dir="rtl"]) .h-header .dropdown-trigger img.mr-3 {
        margin-left: 2em;
    }
}